@model IEnumerable<NominaWeb.Models.Title>

@{
    ViewData["Title"] = "Titles";
}

<h1>Titles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                From Date
            </th>
            <th>
                To Date
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title1
                </td>
                <td>
                    @item.FromDate
                </td>
                <td>
                    @item.ToDate
                </td>
                <td>
                    @item.EmpNoNavigation.EmpNo
                </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-empNo="@item.EmpNo"
                       asp-route-title1="@item.Title1"
                       asp-route-fromDate="@item.FromDate">Edit</a> |

                    <a asp-action="Details"
                       asp-route-empNo="@item.EmpNo"
                       asp-route-title1="@item.Title1"
                       asp-route-fromDate="@item.FromDate">Details</a> |

                    <a asp-action="Delete"
                       asp-route-empNo="@item.EmpNo"
                       asp-route-title1="@item.Title1"
                       asp-route-fromDate="@item.FromDate">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>